.react-flow-container
	position: absolute
	top: 44px
	width: 100%
	height: calc(100% - 44px)

.appbar
	.home-button
		&.app-icon
			display: block
			background-image: url('./application.svg')
			background-repeat: no-repeat
			background-size: 37px
			background-position: 10px 4px

			.app-name
				padding-left: 45px

.choose-wizard-container
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	height: calc(100% - 44px)
	padding-top: 60px

	a
		display: inline-block
		margin: 10px
		padding: 15px 30px
		background-color: #054449
		color: white
		text-decoration: none
		font-size: 20px
		border-radius: 5px
		transition: background-color 0.3s

		&:hover
			background-color: white
			color: #054449

.edit-content-svg-wrapper
	position: absolute
	top: -7.5px
	right: -7.5px
	width: 15px
	height: 15px
	cursor: pointer
	border-radius: 3px
	background-color: white
	&:hover
		background-color: lightblue

.edge-label
	position: absolute
	font-size: 8px
	color: black
	background-color: white
	padding: 3px
	border-radius: 3px
	border: 1px solid #1a192b
	max-width: 100px

.errors
	position: absolute
	padding: 1rem
	background-color: hsla(0, 80%, 75%, 0.8)
	top: 44px
	width: 75%
	font-size: 14px
	max-height: 5rem
	overflow-y: scroll
	z-index: 1

.layout-panel
	display: flex
	flex-direction: column
	gap: 1rem
